<p id="notice"><%= notice %></p>
<span>
<% @cart.line_items.each do |item| %>
<strong class ="dish-text"><%= item.dish.title%></strong> : 
<%=item.quantity %> * <%= item.dish.price %> = 
<%= item.total_sum %>тенге <br>
<%end%>
<br>
</span>
<strong class="dish-text">Итоговая сумма:</strong><%= @cart.total_cart %>тг<br>
<%= button_to "Clear cart", cart_path, :method => :delete%>
