<p id="notice"><%= notice %></p>

<h1>Dishes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.title %></td>
        <td><%= dish.price %></td>
        <td><%= dish.description %></td>
        <td><%= dish.restaurant.name %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


