<p id="notice"><%= notice %></p>
<div class="container">
	<h1>Restaurants</h1>
		
	<div class="row d-flex justify-content-around pt-3">
		<% @restaurants.each do |restaurant| %>
		<div class="card border-0">
			<%= link_to (image_tag restaurant.picture, :size => '250'),restaurant_path(restaurant) %>
			<strong class="card-text text-center"><%= restaurant.name %></strong>
		</div>
			<% end %>
	</div>
</div>