<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row justify-content-around py-5">
		<div class="card-hidden p-3 mb-3">
			<%= render template: "carts/show"%>
		</div> 
		<div class="card border-0">
			<strong class="card-text text-center"><%= @restaurant.name %></strong>
			<%= image_tag @restaurant.picture, size: '200' %>
			<%= @restaurant.description %>
		</div>
	</div>
	<br>
	<div class="row">
		<% @restaurant.dishes.each do |dish|%>
		<div class="col-3">
			<%= dish.title %><br>
			<%= image_tag dish.image, size: '150' %><br>
			<span><%= dish.description %></span><br>
			<span><%= dish.price %> тенге </span><br>
			<% line_item = @cart.line_items.first %>

			<% unless line_item.nil? %>
			<% if @restaurant.id == line_item.dish.restaurant.id %>
			<%= button_to "Add to cart", line_items_path(dish_id: dish) %>
			<%else%>
			<span><%="You cann`t order from this restaurant" %></span>
			<%end%>
			<%else%>
			<%= button_to "Add to cart", line_items_path(dish_id: dish)%>
		</div>
		<%end%>
		<%end%>
	</div>
	<br>
		<%= link_to 'Back', restaurants_path %>
</div>
