@import "bootstrap";

body{
	background-color: pink;
	font-style: oblique;
	color: magenta;
}

h1{
	text-align: center;
	text-shadow: 2px 0 0 grey;
}
.card{
	background-color: pink
}
.dish-text{
	text-shadow: 1px 0 0 grey;
	
}
.cart{
	display: inline-block;
	text-align: center;
}
